
  {% include "horario/modalHorario.twig" %}

  <div id='flecha_div' class='flecha_div'><a href='#'><img id='flecha' class='flecha' src='media/img/flecha.png' alt="Up row" /></a></div>

  <div id="overlay"></div>
  <div id="loading">
    <div id="spinnerWrapper">
      <div class="lds-dual-ring"></div>
    </div>
    <div id="loadingMessage">
      <h2 id="loading-msg"></h2>
    </div>
  </div>

</html>