{% include "base.html.twig" %}

{% block myDiv %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <p><strong>{{ environment }}</strong></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}