<div id="modal-justify" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height: initial;">
        <div class="modal-body">
            <div id="justify-content" style="text-align:center;">
                <p>Puede añadir un motivo de justificación para las faltas del día <b id="justify-date"></b> para <b id="justify-profesor"></b>.</p>
                <textarea id="justify-reason" class="long-text" style="resize: none;" cols="60" rows="10" placeholder="Escriba el motivo de justificación aquí"></textarea>
            </div>
        </div>
        <div id="justify-footer" class="modal-buttons-footer">
            <button type='button' class='btn btn-danger float-left' data-dismiss='modal'>Cancelar</button>
            <button id="justify-confirm" class="btn btn-success float-right">Confirmar</button>
        </div>
        </div>
    </div>
</div>