<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

  {# TWIG ROUTES #}
  {% set mainActive = 'profesores' %}
  {% set mainLink = '/profesores' %}

  {% set horariosMenu = 'horarios' %}
  {% set cursosList = 'cursos' %}
  {% set cursosListLink = '/cursos' %}
  {% set aulasList = 'aulas' %}
  {% set aulasListLink = '/aulas' %}
  {% set horariosImport = 'importHorarios' %}
  {% set horariosImportLink = '/horarios/import' %}

  {% set profesoresMenu = 'profesores' %}
  {% set profesoresList = 'profesores' %}
  {% set profesoresListLink = '/profesores/list' %}
  {% set profesoresAdd = 'add' %}
  {% set profesoresAddLink = '/profesores/add' %}
  {% set profesoresImport = 'importProfesores' %}
  {% set profesoresImportLink = '/profesores/import' %}

  {% set asistenciasMenu = 'asistencias' %}
  {% set asistenciasLink = '/asistencias' %}

  {% set logoutLink = '/logout' %}

  {% if userType is same as 1 %}
    {% include "main/topNav/adminNav.twig" %}
  {% elseif userType is same as 2 %}
    {% include "main/topNav/profesorNav.twig" %}
  {% elseif userType is same as 3 %}
    {% include "main/topNav/personalNav.twig" %}
  {% endif %}

</nav>

<script src="/media/js/animate.js"></script>
