{% include "main/header.twig" %}

<link rel="stylesheet" href="/media/css/qr-reader.css">
<div class="container-fluid" style="margin-top:50px">
    <div class='row'>
        <div id='qreader' class='col-12' style='margin-top: 20vh;'>
            <h1 style='color: red;'>Avisar a jefatura para activar el lector</h1>
            <div id="output" class="respuesta">
                <span id="empty">
                    <h3>Acerque el código QR al lector...</h3>
                </span>
            </div>
        </div>
    </div>
</div>

<script src="/media/js/qr-reader-admin-login.js"></script>

{% include "main/footer.twig" %}