<!DOCTYPE html>
<html lang="es">

    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/media/css/bootstrap-4.0.0/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/media/css/asysteco.css">
        <link rel="stylesheet" href="/media/js/jquery-ui/jquery-ui.min.css">
        <link href="/media/js/toastr/toastr.min.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="/media/img/asysteco.ico" type="image/x-icon">
        <script src="/media/js/jquery/jquery.min.js"></script>
        <script src="/media/js/bootstrap-4.0.0/bootstrap.min.js"></script>
        <script src="/media/js/jquery-ui/jquery-ui.min.js"></script>
        <script src="/media/js/toastr/toastr.min.js"></script>
        <script src="/media/js/datepicker_common.js"></script>
        <script src="/media/js/flecha.js"></script>
        <script src="/media/js/toastr/toastr-settings.js"></script>
        <script src="/media/js/asysteco.js"></script>
        <script src="/media/js/timepicker/timepicker.js"></script>
        <link rel="stylesheet" href="/media/css/timepicker/timepicker.css">
        <link rel="stylesheet" href="/media/css/profesores.css">
        <script src="/media/js/JavaScript/constants.js"></script>
        
        {% block headScripts %}{% endblock %}
        {% block headStyles %}{% endblock %}

    </head>


    <body>
        {% block body %}{% endblock %}
        {% block bodyScripts %}{% endblock %}
    </body>
</html>