{
    "ENVIRONMENT": "",
    "DB_GEST_ENGINE": "",
    "DB_GEST_HOSTNAME": "",
    "DB_GEST_DBNAME": "",
    "DB_GEST_USERNAME": "",
    "DB_GEST_PASSWORD": "",
    "DB_GEST_PORT": "",
    "DB_GEST_CHARSET": ""
}