{
    "ENVIRONMENT": "",
    "DB_GEST_ENGINE": "",
    "DB_GEST_HOSTNAME": "",
    "DB_GEST_DBNAME": "",
    "DB_GEST_USERNAME": "",
    "DB_GEST_PASSWORD": "",
    "DB_GEST_PORT": "",
    "DB_GEST_CHARSET": "",
    "DB_SITE_ENGINE": "",
    "DB_SITE_HOSTNAME": "",
    "DB_SITE_DBNAME": "",
    "DB_SITE_USERNAME": "",
    "DB_SITE_PASSWORD": "",
    "DB_SITE_PORT": "",
    "DB_SITE_CHARSET": "",
    "JWT_CODE": "",
    "JWT_METHOD": ""
}